<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Courses</title>



  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Bootstrap core CSS -->
  <script defer src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js" integrity="sha384-G/ZR3ntz68JZrH4pfPJyRbjW+c0+ojii5f+GYiYwldYU69A+Ejat6yIfLSxljXxD" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="courses.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      font-family: "Lato", sans-serif;
    }

    .sidenav {
      height: 100%;
      width: 180px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #f2edd7;
      overflow-x: hidden;
      padding-top: 20px;
    }

    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
    }

    .sidenav a:hover {
      color: #000;
    }

    .main {
      margin-left: 180px;
      /* Same as the width of the sidenav */
      font-size: 28px;
      /* Increased text to enable scrolling */
      padding: 5px 10px;
    }

    @media screen and (max-height: 450px) {
      .sidenav {
        padding-top: 15px;
      }

      .sidenav a {
        font-size: 15px;
      }
    }
  </style>

</head>

<body>

  <!--="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    -->

  <div class="sidenav">
    <a href="/Post_teach">Dashboard</a>
    <a href="#"><%=course.name%></a>
    <a href="#"><%=course.teachName%></a>
    <a href="/TEST">Create Test</a>
    <form class="" action="/course" method="post">
      <div class="mb-3">
        <div class="input-group">

          <input type="text" class="form-control" placeholder="Add student email-id" required name="email">
          <div class="invalid-feedback" style="width: 100%;">
            student email id is required.
          </div>
        </div>
      </div>
      <button class="btn btn-primary btn-lg btn-block" type="submit">Add</button>
    </form>
  </div>


  <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
  <div class="main">
    <br>
    <% if(message==="Sucess" ||message==="Your test was created"  ) {%>
      <div class="alert alert-success" id="div" role="alert">
          <span id="check" ><%=message%></span>
      </div>
      <br>
    <% }%>
    <% if(message==="No student found" || message==="already registered") {%>
      <div class="alert alert-danger" id="div" role="alert">
          <span id="check" ><%=message%></span>
      </div>
      <br>
    <% }%>
    <p class="text"><i class="far fa-calendar-check"></i> <a href="#"> Calendar</a> <i class="fas fa-list-ol fine"></i> <a href="#">To-do</a></p>
    <div class="container">


      <div class="row">

        <div class="container">
          <%for (var i = 0 in Test) {%>
          <div class="col-md-8 order-md-1">
            <div class="my-3 p-3 bg-white rounded box-shadow cir">
              <h3>Test is Secheduled on today at <%=Test[i].Shour%>:<%=Test[i].Smin%> of duration <%=Test[i].Durhour%> hours and <%=Test[i].Durmin%> minutes</h3>
              <p class="attendance">The link of test is attached below:</p>
              <form class="" action="/4" method="post">
                <button type="submit" class="btn btn-lg btn-outline-primary" name="number" value="<%=''+i%>">OPEN</button>
              </form>
            </div>

          </div>
          <%}%>
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
          <p class="mb-1">&copy; 2017-2018 Company Name</p>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
          </ul>
        </footer>
      </div>

      <!-- Bootstrap core JavaScript
        ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
      </script>
      <script src="../../assets/js/vendor/popper.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <script src="../../assets/js/vendor/holder.min.js"></script>
    </div>
    <br>
  </div>
</body>
</html>
