<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

  <title>TEST</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link href="test1.css" rel="stylesheet">
</head>

<body class="bg-light">

  <div class="container">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="pic.jpg" alt="" width="72" height="72">
      <h2>MCQ TEST1</h2>
      <p class="lead">Below are the question for the test, Every question is necessary.</p>
    </div>
    <div class="col-md-4 order-md-2 mb-4 fixed-time">
      <h3 class="text-muted">TIME REMAINING</h3>
      <h5 id="t">Time</h5>
    </div>
    <div class="row">
      <div class="col-md-3 order-md-2 mb-4  fixed-content">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">QUESTIONS ATTEMPED</span>
        </h4>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <tbody>
              <% var n= Test.Question.length;%>
              <%for (var i=0 ;i<n/5; i++) {%>
              <tr>
                <% var v1=i*5;%>
                <% if(v1<n) {%>
                <td><button type="button" class="btn" id="<%=v1%>"><%=v1+1%></button></td>
                <%}%>
                <% var v1=i*5+1;%>
                <% if(v1<n) {%>
                <td><button type="button" class="btn" id="<%=v1%>"><%=v1+1%></button></td>
                <%}%>
                <% var v1=i*5+2;%>
                <% if(v1<n) {%>
                <td><button type="button" class="btn" id="<%=v1%>"><%=v1+1%></button></td>
                <%}%>
                <% var v1=i*5+3;%>
                <% if(v1<n) {%>
                <td><button type="button" class="btn" id="<%=v1%>"><%=v1+1%></button></td>
                <%}%>
                <% var v1=i*5+4;%>
                <% if(v1<n){%>
                <td><button type="button" class="btn" id="<%=v1%>"><%=v1+1%></button></td>
                <%}%>
              </tr>
              <%}%>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">QUESTIONS</h4>
        <form class="" action="/3" method="post">
        <%for (var i=0 in Test.Question) {%>
          <div class="my-3 p-3 bg-white rounded box-shadow cir" >
            <% var j=i ;%>
            <% j++ ;%>
            <p class="border-bottom border-gray pb-2 mb-0">Q<%=j%>) <%=Test.Question[i]%></p>
            1) <%=Test.Op1[i]%>
            <br>
            2) <%=Test.Op2[i]%>
            <br>
            3) <%=Test.Op3[i]%>
            <br>
            4) <%=Test.Op4[i]%>
            <br>
                <select name=<%=i%> style="margin-top:1rem;"class="custom-select d-block w-100" name="ans">
                  <option value="">Your answer</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
          </div>
        <%}%>
          <button formaction="/3" class="btn btn-primary btn-lg " type="submit">Finish</button>

          </form>
        </div>
        </form>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2017-2018 Company Name</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>
  <% var Hour = H; %>
  <% var Min = M; %>
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript">
    for(var i=0;i<100;i++){
      let str=i.toString();
      let activities = document.getElementsByName(str)[0];
      if(!activities){
        break;
      }
      let button=document.getElementById(str);
      if(!button){
        break;
      }
      console.log(i);
      activities.addEventListener("change", function() {
        console.log(activities);
        if(activities.value==1||activities.value==2||activities.value==3||activities.value==4){
          button.style.backgroundColor="#008000";
        } else {
          button.style.backgroundColor="#dc143c";
        }
      });
    }
  </script>
  <script type="text/javascript">
  var timer = document.getElementById('t');
  var time = <%= Min  %>*60;
  var hr=parseInt(<%= Hour  %>, 10);
  setInterval(() => {
    if(time==0)
    {
      time=3599;
      hr--;
    }
    let min = Math.floor(time/60),sec=time%60;
    min = Math.max(min, 0);
    sec = Math.max(sec, 0);
    if(sec < 10){
      var str=sec.toString;
      if(str[0]=='0'){

      } else {
        sec='0'+sec;
      }
    }
    if (min < 10){
      var str=min.toString;
      if(str[0]=='0'){

      } else {
        min='0'+min;
      }
    }
    if(hr==0 && min == 0 && sec == 0)
      timer.innerHTML = 'Times Up';
    else
    {
      timer.innerHTML = `${hr}:${min}:${sec}`;
      time--;
    }
  }, 1000);
  </script>
</body>

</html>
